* {
  margin: 0;
  padding: 0;
  outline: 0;
}

nav {
  background-color: #54555B;
  display: inline-block;
  font-size: 18px;
}

.logo img {
  width: 150px;
  padding: 0;
  margin: 0;
}

nav li a{
  color: #7FE3EB;
}
