*{
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.main-content {
  margin: 0;
  text-align: left;
}

.main-content p {
  margin: 0;
  margin-left: 1em;
  justify-content: center;
  
}

button {
  justify-content: right;
  display: flex;
  flex: right;
  text-align: center;
  margin-bottom: 0.3em;
}

hr {
  margin: 0.3em;
  padding: 0;
}

h3 {
  font-weight: bold;
  margin-left: 0.5em;
  margin-top: 0.3em;
}

.card {
  cursor: pointer;
}

.but-modelo {
  font-size: 22px;
  font-weight: 600;

}

.agoravai {
  display: flex;
  justify-content: space-around;
}

.but-votacao {
  font-size: 17px;

}

.num-votacao {
  font-size: 20px;
  font-weight: 500;
}

.Titulo-instituto {
  font-family: 'Domine', serif;
}

.Titulo-thread {
  font-family: 'Pathway Gothic One', sans-serif;
 
}