.main-bg {
  display: absolute;
  height: 100vh;
  background-color: rgba(242, 242, 242, 0.7) !important;
  padding: 50px;
}
 
 
.Titulo-instituto {
  font-family: 'Domine', serif;
}

.Titulo-thread {
  font-family: 'Pathway Gothic One', sans-serif;
 
}