* {
    margin: 0;
    padding: 0;
}

.Thread {
    display: absolute;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.7) !important;
    padding: 50px;
}

.Content {
    background-color: #fff;
    width: 80%;
    padding: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 50px;
}

.Thread-inform {
    text-align: center;
}

.Thread-inform p {
    color: #757575;
}

.Thread-title {
    margin-top: 20px;
    text-align: center;
}

.Thread-description {
    margin: 15px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: justify;
}

.Thread-reactions {
    display: flexbox;
    flex-direction: row;
    justify-content: space-around;
}

.button-design {
    margin: 20px;
}